doctype html
html
  head
<<<<<<< HEAD
    title= "HANU Cloud-Computing Demo"
=======
    title= title
>>>>>>> 1c3dbe3a6d11ed80d7dd3f2198320058ab5cbb8d
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
